@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;

}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;

}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(115deg, #9156E2, #FF9768   );
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
